/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  /*border: 1px solid #ddd;*/
  padding: 5px;
}
.row {
  margin-bottom: 15px;
}



.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-container {
  margin: 35px 0;
}

.list-block .item-text{
    display : block;
    overflow : auto;
    height : 100%;
}



.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
/*
.content-block{
    margin-top : 5px;
    margin-right : 0px;
    margin-bottom : 5px;
    margin-left : 0px;
    padding-top : 5px;
    padding-right : 0px;
    padding-bottom : 5px;
    padding-left : 0px;
    }

*/

.circular {
	border-radius: 50%;
	}

.semi-circular{
    border-radius : 10%;
}

.list-block .item-after{
    font-size : 13px;
    }

.row .col-50{
    height : 100%;
}

.list-block .item-media+ .item-inner{
    color : black;
}

.list-block .item-title.label.search {
    width : 10%;
}


.list-block .item-content-dropdown-expand .item-title.label{
    width : 35%;
    }

.center{
    margin :auto;
    text-align : center;
    }

.right{
    text-align : right;
    margin-right : 15px;
    }

.list-block.media-list .item-title {
    font-size: 15px;
}

.content-block-inner{
    font-weight: null;
    font-size : 15px;
}

.list-block .item-title.label {
    width : 40%;
    /*padding-left : 10px;*/
}

.list-block .item-title.label.details {
    padding-left: 10px;
}

element.style {
    padding-left: 10px;
}

.italic{
    font-style: italic;
}

.cancel{
    position : fixed;
    width : 100%;
    bottom : 0px;
    margin : 10px;
}

.demo-card-header-pic .card-header {
    height: 60vw;
    background-size: cover;
    background-position: center;
  }

  .list-block .item-text{
    color : black;
}

.list-block .item-subtitle{
    color : #8e8e93;
}

.list-block .item-title {
    color : black;
}

h3{
    margin-top:0em;
    margin-bottom: 0em;
}

.navbar-inner{
    background-color: #589442;
}

.swiper-slide.user span {
  text-align:left;
  margin:0px;
  font-size:15px;
}

.rate-me-disable{
    font-size: 11px;
}
